@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.Products.ProductsPage

<body>
    @Html.Show(m => m.Item.Name)
    @Html.Show(m => m.Item.BrandId, Model.GetBrandName(Model.Item.BrandId))
    @Html.Show(m => m.Item.ProductTypeId, Model.GetProductTypeName(Model.Item.ProductTypeId))
    @Html.Show(m => m.Item.UnitId, Model.GetUnitName(Model.Item.UnitId))
    @Html.Show(m => m.Item.Description)
    <input type="hidden" asp-for="Item.PictureUrl" />
    @Html.Show(model => model.Item.Price)
    <img src="~/uploads/@Model.Item.PictureUrl"   
                         class="rounded-circle"   
                         height="300" width="300"   
                         asp-append-version="true" /> 
</body>
