@page
@using Pages.Abstractions.Extensions
@model Pages.Products.ProductsPage

@{
    Layout = "_Delete";
}

<body>
    <dl class="row">
        @Html.Show(model => model.Item.Name)
        @Html.Show(model => model.Item.Brand)
        @Html.Show(model => model.Item.ProductType)
        @Html.Show(model => model.Item.Unit)
        @Html.Show(model => model.Item.PictureUrl)
        @Html.Show(model => model.Item.Price)
    </dl>
</body>
